.lorel{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(80,80,80,0.8);
	font-family:ubuntu;
	z-index:999;
}
.lorel .lorel-container{
	position:relative;
	max-width:720px;
	max-height:500px;
	background:whitesmoke;
	width:50%;
	border-radius:4px;
    box-shadow: 1px 3px 7px -4px black;
}
.lorel-container .title-bar,
.lorel-container .contents,
.lorel-container .actions{
	box-sizing:border-box;
	padding:20px;
	display:flex;
	font-family:ubuntu calibri;
}
.lorel-container .title-bar{
	border-bottom:thin solid lightblue;
	align-items:center;
	min-height:70px;
}
.lorel-container .title-bar .title{
	flex-grow:1;
}
.lorel-container .actions{
	align-items:center;
	justify-content:flex-end;
	padding:10px;
	background-color:#e8e8e7;
	border-radius:0 0 4px 4px;
}
.lorel-container .actions button{
	margin:0 5px;
	width:auto;
	min-width:80px;
	background-color:#3465a4;
	color:white;
	border-radius:4px;
	height:40px;
	border:2px solid #3465a4;
	cursor:pointer;
}
.lorel-container .actions button:hover{
	background-color:#265592;
}
button.btn-cancel{
	background-color:#ef2929 !important;
	border:2px solid #df2929 !important;
}
button.btn-cancel:hover{
	background-color:#cf1e1e !important;
}
button.btn-info{
	background-color:#73d216 !important;
	border:2px solid #73d216 !important;
}
button.btn-info:hover{
	background-color:#4e9a06 !important;
	border:2px solid #4e9a06 !important;
}
.close{
	position: absolute;
	color:white;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-bottom:2px solid #ababab;
    border-left:2px solid #ababab;
    border-radius: 0 4px;
    background: linear-gradient(#bbb,#a8a8a8,#c2c2c2);
    cursor:pointer;
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}
.close:hover{
	background: linear-gradient(#fed1d1,#ef4b4b,#ed9a9a);
	border-bottom:2px solid #c26d6d;
    border-left:2px solid #d17979;
}
.lorel-container .lorel-input{
	height: 40px;
    border-top: 2px solid #818181;
    border-radius: 4px;
    width: 70%;
    padding: 0 20px;
    font-family: ubuntu, calibri;
    font-size: 26px;
}
@media screen and (max-width:425px){
	.lorel .lorel-container{
		width:90%;
	}
	.lorel-container .title-bar{
		min-height:60px;
	}
	.lorel-container .actions {
		justify-content:space-evenly;
	}
}
