/*
@@@@
Stylesheet for lorel calculator
*/
/************globals***********/
.lorel-row{
  display: flex;
  flex-direction: row;
}
.lorel-col{
  display: flex;
  flex-direction: column;
}
.lorel-widget button{
  min-width: 40px;
  min-height: 40px;
  border:none;
  transition: all 0.4s;
  background: transparent;
  color:#d7d7d7;
}
.lorel-widget button:hover{
  background: white;
  color:#616161;
}
/************design specific*********/
.border-round{
  border-radius: 4px;
}
.light-gray{
  background: #535151;
}
.dark-navy{
  background: #17152c;
}
.h-ribbon{
  position: relative;
  z-index: 8;
  box-shadow: 0 0 4px -1px black;
  margin-top: -35px;
}
.v-shadow{
  box-shadow: -2px 1px 4px -1px black;
}
.current-line{

}
/************animations*********/
.mem-ribbon-hide{
  animation-name: mem-ribbon-hide-anim;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0,.75,.46,.46);
  animation-fill-mode: forwards;
}
.mem-ribbon-show{
  animation-name: mem-ribbon-show-anim;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0,.75,.46,.46);
  animation-fill-mode: forwards;
}
.basic-keypad-hide{
  animation-name: basic-keypad-hide-anim;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0,.75,.46,.46);
  animation-fill-mode: forwards;
}
.basic-keypad-show{
  animation-name: basic-keypad-show-anim;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0,.75,.46,.46);
  animation-fill-mode: forwards;
}
@keyframes mem-ribbon-hide-anim {
  from {margin-top: 0;}
  to {margin-top: -35px;}
}
@keyframes mem-ribbon-show-anim {
  from {margin-top: -35px;}
  to {margin-top:0px;}
}
@keyframes basic-keypad-hide-anim {
  from {margin-top: 0;}
  to {margin-top: -155px;}
}
@keyframes basic-keypad-show-anim {
  from {margin-top: -155px;}
  to {margin-top:0px;}
}
/************containers*********/
.cell-1{
  width: 100%;
}
.cell-2{
  width: 50%;
}
.cell-3{
  width: 33.33%;
}
.cell-4{
  width: 25%;
}
.cell-5{
  width: 20%;
}
/************specific*********/
.lorel-widget{
  position: fixed;
  top:90px;
  left:100px;
  box-shadow: 1px 1px 44px -13px black;
  background:#2d303f;
  color:whitesmoke;
  user-select: none;
}
.lwidget-titlebar{
  height: 25px;
  min-height: 25px;
  background:#2e313f;
  color:white;
  line-height: 25px;
  vertical-align: middle;
  text-indent: 10px;
  border-radius: 4px 4px 0 0;
  cursor:-webkit-grabbing;
}
.lwidget-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.lcal-display{
  position: relative;
  height: 80px;
  background: #9dd5b8;
  width: 100%;
  color: #444;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 0px 2px 5px -1px darkslategrey;
  /* border-left: 20px solid olivedrab; */
  box-sizing: border-box;
  z-index: 9;
}
.lcal-display-line{
  padding-right:4px;
  user-select: text;
}
.lcal-display-line h3{
  margin:1px;
}
.basic-keypad{
  margin-top: -155px;
}
.lwidget-statusbar{
  text-indent: 12px;
}
.lcal-display .display-header{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 9px;
  color:#818181;
  background: #9dd5b8;
  text-indent: 2px;
  line-height: 14px;
  cursor:-webkit-grabbing;
}
.lcal-display .display-header span{
  margin-left:2px;
}
button.cal-cl{
  background-color:tomato;
  border-left: thin solid #ef9686;
}
